<% @categories.each do |category| %>
	<button class='popover-btn' data-title='<%= category.name %>' data-elem='select-category' data-value='<%= category.id %>'><%= category.name %></button>
<% end %>
<!--button class='popover-btn' data-title='All' data-elem='select-category' data-value='All'>All</button-->