<div id="footer">
	<div class="container">
		
		<div class="col-md-8 footer-info">
			<div class="row">
				<div class="col-md-8">
					<img src="/images/logo-white.png" alt="" />
				</div>
				<div class="col-md-4 phone-large">
					<span class="label">For inquiries, call:</span>
					<p>+91 800 75 000 66</p>
				</div>
			</div>
			
			<hr />
			
			<div class="row">
				<div class="col-md-8 gpc-desc">
					<p><strong>GOA PROPERTY CO</strong> shelters all your real estate needs, from complicated paperwork to finding you the perfect place.</p>

					<p>Our approach combines a thorough understanding of our clients' requirements along with a solid filtering process of real estate to provide you with an array of choices to pick from. <a href="/about">Learn more …</a> </p>
					
					
				</div>
				
					
				<div class="col-md-4">	
					
					<span class="label">Email</span>
					<p>mail@goapropertyco.com</p>
					
					<span class="label">Office Address</span>
					<address>Office #414, Kamat Towers,<br />
					Fourth Floor, Patto Plaza,<br />
					Panjim Goa 403001.
					</address>
					
				</div>
				
			</div>
			
			<hr />
			
			<ul class="row" id="services-list" role="navigation">
				<li><a href="/properties">Buy/Rent</a></li>
				<li><a href="#">Sell/Lease</a></li>
				<li><a href="#">Knowledge Blog</a></li>
				<li><a href="#">Regional Plans</a></li>
				<li><a href="#">Documentation</a></li>
			</ul>
			
		</div>
		
		
		<div class="col-md-4"  id="footer-form">
			<h3>Happy to Help!</h3>
			<p>Can’t find the place you’re looking for? Just fill in your details and we’ll call you back.</p>
			<form method="post" action="/send-inquiry/callback">
				<div class="form-group"><input type="text" name="callback[name]" value="" placeholder="your name" class="form-control" /></div>
				<div class="form-group"><input type="tel" name="callback[phone]" value="" placeholder="phone number" class="form-control" /></div>
				<div class="form-group "><input type="text" name="callback[timing]" value="" placeholder="call between 9-5" class="form-control" /></div>
				<div class="form-group text-center">
					<input type="submit" name="submit" value="Send Callback" class="btn btn-large btn-primary" />
				</div>
			</form>
			<p class="small"><strong>Goa Property Co</strong> respects your privacy and will not add your contact to any mailing list without your permission.</p>
		</div>
	</div>
</div>