<div id="footer">
	<div class="container">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<h3>Goa Property Co</h3>
					<p class="subtitle">Real Estate Consultants</p>
				</div>
				<div class="col-md-8 phone-large text-right">
					<span class="label">For inquiries, call:</span>
					<p>+91 800 75 000 66</p>
				</div>
			</div>
			
			<hr />
			
			<div class="row">
				
				<div class="col-md-4">	
					<span class="label">Phone</span>
					<p>+91 9822 450 450<br />
						+91 9823 451 451</p>
					<span class="label">Email</span>
					<p>mail@goapropertyco.com</p>
					
					<span class="label">Office Address</span>
					<address>Techno Park, Bld No. 8,<br />
					497/GF-4 Chogum Road,
					Porvorim, Goa.
					</address>
				</div>
				
				<div class="col-md-8">
					<ul id="services-list">
						<li>
							<h4>Buy / Rent <span class="glyphicon glyphicon-circle-arrow-right"></span></h4>
							<p>Nullam in dui mauris. Vivamus hendrerit arcu sed.</p>
						</li>
						<li>
							<h4>Sell / Lease <span class="glyphicon glyphicon-circle-arrow-right"></span></h4>
							<p>Nullam in dui mauris. Vivamus hendrerit arcu sed. In dui.</p>
						</li>
						<li>
							<h4>Documentation <span class="glyphicon glyphicon-circle-arrow-right"></span></h4>
							<p>Nullam in dui mauris. Vivamus hendrerit arcu sed. Vivamus hendrerit arcu sed.</p>
						</li>
						<li>
							<h4>Knowledge Blog <span class="glyphicon glyphicon-circle-arrow-right"></span></h4>
							<p>Nullam in dui mauris. Vivamus hendrerit.</p>
						</li>
					</ul>
				</div>
				
			</div>

			
			
			
			
		</div>
		
		<div class="col-md-4">
			<h3>Happy to Help!</h3>
			<p>Can’t find the place you’re looking for? Just fill in your details and we’ll call you back.</p>
			<form method="post" action="" id="footer-form">
				<div class="form-group"><input type="text" name="send[name]" value="" placeholder="your name" class="form-control" /></div>
				<div class="form-group"><input type="tel" name="send[phone]" value="" placeholder="phone number" class="form-control" /></div>
				<div class="form-group "><input type="text" name="send[timing]" value="" placeholder="call between 9-5" class="form-control" /></div>
				<div class="form-group text-center">
					<input type="submit" name="" value="Send Callback" class="btn btn-large" />
				</div>
			</form>
		</div>
	</div>
</div>