<div id="footer">
	<div class="container">
		
		<div class="col-md-8 footer-info">
			<div class="row">
				<div class="col-md-8">
					<img src="/images/logo-white.png" alt="" />
				</div>
				<div class="col-md-4 phone-large">
					<span class="label">For inquiries, call:</span>
					<p>+91 800 75 000 66</p>
				</div>
			</div>
			
			<hr />
			
			<div class="row">
				<div class="col-md-8 gpc-desc">
					<p><strong>GOA PROPERTY CO</strong> in condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum.</p>
					<p>Sed nec diam eu diam mattis viverra. Nulla fringilla. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</p>
				</div>
				
					
				<div class="col-md-4">	
					
					<span class="label">Email</span>
					<p>mail@goapropertyco.com</p>
					
					<span class="label">Office Address</span>
					<address>Techno Park, Bld No. 8,<br />
					497/GF-4 Chogum Road,
					Porvorim, Goa.
					</address>
					
				</div>
				
			</div>
			
			<hr />
			
			<ul class="row" id="services-list">
				<li><a href="/properties">Buy/Rent</a></li>
				<li><a href="#">Sell/Lease</a></li>
				<li><a href="#">Knowledge Blog</a></li>
				<li><a href="#">Regional Plans</a></li>
				<li><a href="#">Documentation</a></li>
			</ul>
			
		</div>
		
		
		<div class="col-md-4"  id="footer-form">
			<h3>Happy to Help!</h3>
			<p>Can’t find the place you’re looking for? Just fill in your details and we’ll call you back.</p>
			<form method="post" action="">
				<div class="form-group"><input type="text" name="send[name]" value="" placeholder="your name" class="form-control" /></div>
				<div class="form-group"><input type="tel" name="send[phone]" value="" placeholder="phone number" class="form-control" /></div>
				<div class="form-group "><input type="text" name="send[timing]" value="" placeholder="call between 9-5" class="form-control" /></div>
				<div class="form-group text-center">
					<input type="submit" name="" value="Send Callback" class="btn btn-large btn-primary" />
				</div>
			</form>
			<p class="small"><strong>Goa Property Co</strong> respects your privacy and will not add your contact to any mailing list without your permission.</p>
		</div>
	</div>
</div>