<div id="footer">
	<div class="container">
		<div class="col-md-4">
			<h3>Contact Info</h3>
			<p>91 800 75 000 66</p>
			<p>Techno Park, Bld No. 8,<br />
			497/GF-4 Chogum Road,<br />
			Porvorim, Goa.
			</p>
		</div>
		
		<div class="col-md-4">

		</div>
		
		<div class="col-md-4">
			<h3>Happy to Help!</h3>
			<p>Can’t find the place you’re looking for? Just fill in your details and we’ll call you back.</p>
			<form method="post" action="" id="footer-form">
				<div class="form-group"><input type="text" name="send[name]" value="" placeholder="your name" class="form-control" /></div>
				<div class="form-group"><input type="tel" name="send[phone]" value="" placeholder="phone number" class="form-control" /></div>
				<div class="form-group "><input type="text" name="send[timing]" value="" placeholder="call between 9-5" class="form-control" /></div>
				<input type="submit" name="" value="Send Callback" class="btn btn-large pull-right" />
			</form>
		</div>
	</div>
</div>