<h3>Hassle-free Real Estate in Goa</h3>
<div class="col-md-8 gpc-desc">
	<p><strong>GOA PROPERTY CO</strong> in condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum.</p>
	<p>Sed nec diam eu diam mattis viverra. Nulla fringilla. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</p>
</div>

<div class="clearfix"></div>

<div class="info-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4 block">
				<div class="inner">
					<h4>Buy<span>/</span>Rent</h4>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Nulla facilisi</li>
						<li><span class="glyphicon glyphicon-ok"></span> Curabitur vulputate, ligula lacinia</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">Find Properties</button></div>
				</div>
			</div>
			<div class="col-md-4 block">
				<div class="inner">
					<h4>Sell<span>/</span>Lease</h4>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Free listing</li>
						<li><span class="glyphicon glyphicon-ok"></span> Guaranteed fair deal</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">List Property</button></div>
				</div>
			</div>
			<div class="col-md-4 block">
				<div class="inner">
					<h4>Paperwork</h4>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Nulla facilisi</li>
						<li><span class="glyphicon glyphicon-ok"></span> Curabitur vulputate, ligula lacinia</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">Learn More</button></div>
				</div>
			</div>
		</div>
	</div>
</div>