
<div class="cover anystretch info-intro" data-stretch="images/goaprop1.jpg">
	<div class="content-block">
		<div class="inner">
			<h3>Goa Property Co.</h3>
			<p>Goa’s most trusted real estate firm with a wide range of property related services, providing prompt and professional service and the best deal to protect your interest and investment.</p>
		</div>
	</div>
</div>

<div class="container info-block" role="article">

	<div class="row">
		<div class="col-md-6">
			<img src="/images/real-estate-1.jpg" alt="" />
		</div>		
		<div class="col-md-6">
			<h3>Hassle-free Real Estate</h3>
			<p class="lead">Not sure how much your property is worth? Can't find the right place for your budget?</p>
			<p>Our in-depth knowledge of the  real estate market in Goa, helps to provide effective guidance to our clients. We work towards obtaining optimum realization on your assets, whilst providing sound investment for the prospective buyers. Thus, culminating into a win-win situation for both—the buyers and sellers.</p>
			
			<p>Goa Property renting services ensures that we (the Goa Property Team) identify the best available residential or commercial premises in the market, to suit your budget and requirement. We then proceed after conducting a thorough background check of the premises, and verifying the profile of the concerned parties.</p>
			<ul>
				<li><span class="glyphicon glyphicon-ok"></span> Get the best price for your property</li>
				<li><span class="glyphicon glyphicon-ok"></span> Verified property profiles ensure dispute free property transfers</li>
			</ul>
			<p><a href="/search?search%5Bcategory%5D=1&search%5Bstate%5D=1&search%5Bregion_id%5D=1&submit=" class="btn btn-primary btn-large">Buy/Rent</a> <a href="/sell-lease" class="btn btn-large btn-primary">Sell/Lease</a> </p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<img src="/images/blog-img.png" alt="" />
		</div>
		<div class="col-md-6">
			<h3>We keep a blog</h3>
			<p class="lead">Looking to learn more about the what's happening in the world of real estate?</p>
			<p>At Goa Property Co we take client servicing very seriously, and educating our clients is one that's of primary importance. We maintain a blog on various sections of real estate, sometimes we write about our own experiences and the other we share the most important events in the property market. If you fancy learning more about what more about what drives the real estate market, then you can do it here at the <a href="http://goapropertyco.com/blog">Goa Property Co Blog.</a></p>
		</div>		
			<!-- <h4>Our services include</h4>
			<ul>
				<li><span class="glyphicon glyphicon-ok"></span> Lawyers Title Report</li>
				<li><span class="glyphicon glyphicon-ok"></span> Drafting, Typing Deed or Agreements.</li>
				<li><span class="glyphicon glyphicon-ok"></span> Registration with Notary or Sub Registrar.</li>
			</ul>
		</div> -->
	</div>
<!-- 	<hr />
	<div class="row property-resources">
		<div class="col-md-6 block">
			<div class="inner">
				<div class="col-md-4">
					<img src="/images/knowledge.png" alt="" />
				</div>
				<div class="col-md-8">
					<h4>Knowledge Blog</h4>
					<p>The documents are then compiled, and after a thorough title search, are submitted to a lawyer from our panel for expert legal opinion. Our lawyer will then complete the procedures for inventory, succession, gift deed – as may be necessary.</p>
					<p><a href="#" class="disabled btn btn-primary btn-large" title="Under Construction">Coming Soon</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-6 block">
			<div class="inner">
				<div class="col-md-4">
					<img src="/images/rp.png" alt="" />
				</div>
				<div class="col-md-8">
					<h4>Regional Plans Database</h4>
					<p>The documents are then compiled, and after a thorough title search, are submitted to a lawyer from our panel for expert legal opinion. Our lawyer will then complete the procedures for inventory, succession, gift deed – as may be necessary.</p>
					<p><a href="#" class="disabled btn btn-primary btn-large" title="Under Construction">Coming Soon</a></p>
				</div>
			</div>
		</div>
	</div> -->
	<hr />
	<div class="row company-profile">
		<div class="col-md-5 outer-avatar-container  col-xs-12">
			<div class="avatar col-xs-6">
				<img src="/images/avatar1.jpg" alt="" />
				<span>Warren Mascarenhas</span>
			</div>
			<div class="avatar col-xs-6">
				<img src="/images/avatar2.jpg" alt="" />
				<span>Edwin Mascarenhas</span>
			</div>
		</div>
		<div class="col-md-7 col-xs-12  ">
			<h3>A Team You Can Trust</h3>
			<p>Goa Property Co is promoted by a dynamic father-son duo: two Goan entrepreneurs; one young man from the hospitality industry and an older warhorse who has in-depth knowledge of the business and a thorough understanding of the Goan real estate market.</p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<p class="review-quote">"Goa Property Co. has been representing my apartments for the past 2 years. They have provided a highly professional and most importantly a punctual service, finding the right person at the right time." <span class="quoter">Kingsley Fernandes, Guirim.</span></p>
		</div>
		<div class="col-md-4">
			<p class="review-quote">"I would be more than happy to endorse your company with regards to finding a suitable buyer for my property, and would have no problem in endorsing this to other potential sellers, I hope your business continues to thrive and please pass on my regards to the family." <span class="quoter">Chris Palmer, Sangolda.</span></p>
		</div>
		<div class="col-md-4">
			<p class="review-quote">"Dear Warren we'd like to thank you/Goa Property Company for sourcing us a lessee to lease out our house and property. We appreciate your professionalism and constant follow up of matters leading to the successful culmination of the agreement. We wish you the best in your business endeavors and look forward to our association in the future." <span class="quoter">Malcolm Coelho, Goa.</span></p>
		</div>
	</div>
</div>
<div class="offwhite-block">
	<div class="container">
		<div id="search-bar" class="col-md-10 col-md-offset-1">
			<h3 class="text-center">Real Estate. <span>Simplified</span>.</h3>
			<%= erb :_search_form %>
		</div>
	</div>
</div>