
<div class="cover anystretch info-intro" data-stretch="images/goaprop1.jpg">
	<div class="content-block">
		<div class="inner">
			<h3>Goa Property Co.</h3>
			<p>Goa’s most trusted real estate firm with a wide range of property related services, providing prompt and professional service and the best deal to protect your interest and investment.</p>
		</div>
	</div>
</div>

<div class="container info-block">

	<div class="row">
		<div class="col-md-6">
			<img src="/images/real-estate-1.jpg" alt="" />
		</div>		
		<div class="col-md-6">
			<h3>Hassle-free Real Estate</h3>
			<p class="lead">Not sure how much your property is worth? Can't find the right place for your budget?</p>
			<p>Our in-depth knowledge of the  real estate market in Goa, helps to provide effective guidance to our clients. We work towards obtaining optimum realization on your assets, whilst providing sound investment for the prospective buyers. Thus, culminating into a win-win situation for both—the buyers and sellers.</p>
			
			<p>Goa Property renting services ensures that we (the Goa Property Team) identify the best available residential or commercial premises in the market, to suit your budget and requirement. We then proceed after conducting a thorough background check of the premises, and verifying the profile of the concerned parties.</p>
			<ul>
				<li><span class="glyphicon glyphicon-ok"></span> Get the best price for your property</li>
				<li><span class="glyphicon glyphicon-ok"></span> Verified property profiles ensure dispute free property transfers</li>
			</ul>
			<p><a href="#" class="btn btn-primary btn-large">Buy/Rent</a> <a href="#" class="btn btn-large btn-primary">Sell/Lease</a> </p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<img src="/images/real-estate-papers.jpg" alt="" />
		</div>
		<div class="col-md-6">
			<h3>Property Paperwork</h3>
			<p class="lead">Can't find your property papers? Need assistance drafting deeds? Goa Property Co team can help get your documentation in order.</p>
			<p>Goa Property Company scrutinizes your available title documents and assess the present status of the property title. Once you have a clear title, we will guide you in obtaining copies of documents from various Government departments, that may be required to transfer the title on the present legal heirs.</p>		
			<p>The documents are then compiled, and after a thorough title search, are submitted to a lawyer from our panel for expert legal opinion. Our lawyer will then complete the procedures for inventory, succession, gift deed – as may be necessary.</p>
			<h4>Our services include</h4>
			<ul>
				<li><span class="glyphicon glyphicon-ok"></span> Buying stamp paper or franking</li>
				<li><span class="glyphicon glyphicon-ok"></span> Drafting, typing of deeds</li>
				<li><span class="glyphicon glyphicon-ok"></span> Power of Attorneys and registration with Sub-Registrar or Notary</li>
			</ul>
		</div>
	</div>
	<hr />
	<div class="row property-resources">
		<div class="col-md-6 block">
			<div class="inner">
				<div class="col-md-4">
					<img src="/images/knowledge.png" alt="" />
				</div>
				<div class="col-md-8">
					<h4>Knowledge Blog</h4>
					<p>The documents are then compiled, and after a thorough title search, are submitted to a lawyer from our panel for expert legal opinion. Our lawyer will then complete the procedures for inventory, succession, gift deed – as may be necessary.</p>
					<p><a href="#" class="btn btn-primary btn-large">View Resources</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-6 block">
			<div class="inner">
				<div class="col-md-4">
					<img src="/images/rp.png" alt="" />
				</div>
				<div class="col-md-8">
					<h4>Regional Plans Database</h4>
					<p>The documents are then compiled, and after a thorough title search, are submitted to a lawyer from our panel for expert legal opinion. Our lawyer will then complete the procedures for inventory, succession, gift deed – as may be necessary.</p>
					<p><a href="#" class="btn btn-primary btn-large">Browse Docs</a></p>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row company-profile">
		<div class="col-md-5">
			<div class="avatar">
				<img src="/images/avatar1.jpg" alt="" />
				<span>Warren Mascaranas</span>
			</div>
			<div class="avatar">
				<img src="/images/avatar2.jpg" alt="" />
				<span>Walter Mascaranhas</span>
			</div>
		</div>
		<div class="col-md-7">
			<h3>A Team You Can Trust</h3>
			<p><strong>GOA PROPERTY CO</strong> is promoted by a dynamic father-son duo: two Goan entrepreneurs; one young man from the hospitality industry and an older warhorse who has in-depth knowledge of the business and a thorough understanding of the Goan real estate market.</p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<p class="review-quote">"Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna." <span class="quoter">Antoine Dmello</span></p>
		</div>
		<div class="col-md-4">
			<p class="review-quote">"Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna." <span class="quoter">Antoine Dmello</span></p>
		</div>
		<div class="col-md-4">
			<p class="review-quote">"Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna." <span class="quoter">Antoine Dmello</span></p>
		</div>
	</div>
</div>
<div class="offwhite-block">
	<div class="container">
		<div id="search-bar" class="col-md-10 col-md-offset-1">
			<h3 class="text-center">Real Estate. <span>Simplified</span>.</h3>
			<%= erb :_search_form %>
		</div>
	</div>
</div>