<div class="container">
	<div class="row section">
		<div class="col-md-12">
			<h2>Hi Goa Property Co</h2>
			<p class="lead">You can change pretty much anything from this admin page.</p>
		</div>
		<div class="col-md-12">
			<a href="/property/new" class="btn btn-large btn-primary">Create New Property</a>
			<a href="/location/new" class="btn btn-large btn-primary">Create New Location</a>
		</div>
	</div>

	<div class="content">
		<h3 class="title">Properties</h3>
		<% @locations.each do |location| %>
			<% unless location.propertys.count < 1 %>
				<div class="col-md-2"><h3 class="title"><%= location.name %></h3></div>
				<div class="col-md-10">
					<ul id="property-grid" class="row">
						<% location.propertys.each do |property| %>
							<%= erb :_property_admin, :layout => false, :locals => {:property => property} %>
						<% end %>
					</ul>
				</div>
			<% end%>
		<% end %>
	</div>
</div>
<%= erb :_modal %>