<div class="container">
	<div class="row">
			

		<div class="col-md-8 blog-post">
			<h1  class="blog-title">
				Goa Property Blog <span class="blog-category-header"> / <%= @post_tags %></span> 

				<a href="/blog" class="blog-header-link" >View All Posts</a>
			</h1>
			<div id="content" class="post-content">
					<h3 class="post-title"><%= @post_title %></h3>

					<p>
						<%= @post_body %>
					</p>
			</div>

		</div>		
				
		<div class="col-md-4">
		
		<ul id="property-grid">
			<li><h2>Properties list</h2></li>
			<% @properties.each do |property| %>
				<%= erb :_property, :layout => false, :locals => {
					:property => property,  
					:cols => "col-xs-12"} %>
			<% end %>
		</ul>
		</div>
	</div>
</div>

