<div class="container">
	<div class="row">
			
		<div class="col-md-8 blog-post">
	
			<h1  class="blog-title">
			Knowledge Blog
			</h1>
				
		<% @posts_count.to_i.times do %> 
			<div class="post-content">
				<h3 class="post-title"><%= @posts_title[@p_count] %></h3>
				
				<div class="post-img-block">
					<img src="/images/gpc-default-thumb.jpg">
				</div>

				<div class="prop-specs">

				</div>
				<p>
				<%= @posts_body[@p_count] %>
				GOA PROPERTY CO shelters all your real estate needs, from complicated paperwork to finding you the perfect place.

				Our approach combines a thorough understanding of our clients' requirements along with a solid filtering process of real estate to provide you with an array of choices to pick from. 
				</p>
			</div>
			<% @p_count += 1 %>
		<% end %>
		</div>
		
		<div class="col-md-4">
		
		<ul id="property-grid">
			<li><h2>Properties list</h2></li>
			<% @properties.each do |property| %>
				<%= erb :_property, :layout => false, :locals => {
					:property => property,  
					:cols => "col-xs-12"} %>
			<% end %>
		</ul>
		</div>
	</div>
</div>

<% erb :_footer %>
