<div class="cover">
	<div id="search-bar">
		<form method="get" action="/search" id="search">
			<div id="select-state">
				I'd like to
				<a href="#" id="select-buyrent-label" class="select-label" data-container="body" data-toggle="popover" 
					data-content="
					<%= erb :_state_loop %>
					">Buy <span class="caret"></span></a>
				<input type="hidden" name="search[buyrent]" value="1" id="input-buyrent" class="hidden-field" />
			</div>
			
			<div id="select-category">a 
				<a href="#" id="select-category-label" class="select-label" data-container="body" data-toggle="popover" data-content="
					<%= erb :_category_loop %>
				">Residential <span class="caret"></span></a> property
				<input type="hidden" name="search[category]" value="1" id="input-category" class="hidden-field" />
			</div>

			
			<div id="select-region">in 
				<a href="#" id="select-region-label" class="select-label" data-container="body" data-toggle="popover" data-content="
					<%= erb :_region_loop %>
				">North Goa <span class="caret"></span></a>
				
				<input type="hidden" name="search[region_id]" value="1" class="hidden-field" />
			</div>
			<button type="submit" name="submit" id="find-prop" value="Find Properties" class="btn btn-large">Find Properties</button>
		</form>
	</div>
</div>

<div class="grid-wrap">
	<div class="container content ">
		<%= erb :_properties_grid %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3>Test</h3>
		</div>
		
		<div class="col-md-4">
			<h4>Services</h4>
		</div>
	</div>
</div>