
<div id="cover" class="anystretch" data-stretch="images/gp-bg.jpg">
	
	<div id="search-bar">
		<h3>Real Estate. <span>Simplified.</span></h3>
		<%= erb :_search_form %>
	</div>
</div>


<div class="info-block">
	<div class="container">
		<div class="row">
			<div class="col-md-8 info-intro">
				<h3>Hassle-free Real Estate in Goa</h3>
				<p><strong>Goa Property Co</strong> in condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum.</p>
			</div>
			<div class="col-md-4 info-img text-center">
				<img src="images/logo-white.png" alt="" />
				<p>Real Estate Consultants</p>
			</div>
			
			<div class="clearfix"></div>
			<div class="col-md-4 block">
				<div class="inner">
					<h4>Buy<span>/</span>Rent</h4>
					<div class="text-center">
						<img src="images/icon-1.png" alt="" class="service-icon" />
					</div>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Nulla facilisi</li>
						<li><span class="glyphicon glyphicon-ok"></span> Curabitur vulputate, ligula lacinia</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">Find Properties</button></div>
				</div>
			</div>
			<div class="col-md-4 block">
				<div class="inner">
					<h4>Sell<span>/</span>Lease</h4>
					<div class="text-center">
						<img src="images/icon-1.png" alt="" class="service-icon" />
					</div>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Free listing</li>
						<li><span class="glyphicon glyphicon-ok"></span> Guaranteed fair deal</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">List Property</button></div>
				</div>
			</div>
			<div class="col-md-4 block last">
				<div class="inner">
					<h4>Paperwork</h4>
					<div class="text-center">
						<img src="images/icon-1.png" alt="" class="service-icon" />
					</div>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Nulla facilisi</li>
						<li><span class="glyphicon glyphicon-ok"></span> Curabitur vulputate, ligula lacinia</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">Learn More</button></div>
				</div>
			</div>
		</div>
	</div>
</div>