<div class="cover">
	<div id="search-bar">
		<form method="get" action="/search" id="search">
			<div id="select-buyrent">
				I'd like to
				<a href="#" id="select-buyrent-label" class="select-label" data-container="body" data-toggle="popover" 
					data-content="
					<button class='popover-btn' data-title='Buy' data-elem='select-buyrent' data-value='for_buy'>Buy</button> 
					<button class='popover-btn' data-title='Rent' data-elem='select-buyrent' data-value='for_rent'>Rent</button>
					">Buy <span class="caret"></span></a>
				<input type="hidden" name="search[buyrent]" value="for_buy" id="input-buyrent" class="hidden-field" />
			</div>
			
			<div id="select-category">a 
				<a id="select-category-label" class="select-label" data-container="body" data-toggle="popover" data-content="
					<button class='popover-btn select-btn-category' data-title='Residential' data-elem='select-category' data-value='is_residential'>Residential</button> 
					<button class='popover-btn select-btn-category' data-title='Commercial' data-elem='select-category' data-value='is_commercial'>Commercial</button>
					<button class='popover-btn select-btn-category' data-title='Undeveloped' data-elem='select-category' data-value='is_undeveloped'>Undeveloped</button>
				">Residential <span class="caret"></span></a> property
				<input type="hidden" name="search[category]" value="is_residential" id="input-category" class="hidden-field" />
			</div>

			
			<div id="select-region">in 
				<a id="select-region-label" class="select-label" data-container="body" data-toggle="popover" data-content="
					<%= erb :_region_loop %>
				">North Goa <span class="caret"></span></a>
				
				<input type="hidden" name="search[region_id]" value="1" class="hidden-field" />
			</div>
			<button type="submit" name="submit" id="find-prop" value="Find Properties" class="btn btn-large">Find Properties</button>
		</form>
	</div>
</div>

<div class="container content">
	<%= erb :_properties_grid %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3>Test</h3>
		</div>
		
		<div class="col-md-4">
			<h4>Services</h4>
		</div>
	</div>
</div>