
<div class="cover">
	<div id="tree">
	
	</div>
	<div id="search-bar">
		<form method="get" action="/search" id="search">
			<div id="select-state">
				I'd like to
				<a href="#" id="select-state-label" class="select-label" data-container="body" data-toggle="popover" 
					data-content="
					<%= erb :_state_loop %>
					">Buy</a>
				<input type="hidden" name="search[state]" value="1" id="input-state" class="hidden-field" />
			</div>
			
			<div id="select-category">a 
				<a href="#" id="select-category-label" class="select-label" data-container="body" data-toggle="popover" data-content="
					<%= erb :_category_loop %>
				">Residential</a> property
				<input type="hidden" name="search[category]" value="1" id="input-category" class="hidden-field" />
			</div>

			
			<div id="select-region">in 
				<a href="#" id="select-region-label" class="select-label" data-container="body" data-toggle="popover" data-content="
					<%= erb :_region_loop %>
				">North Goa</a>
				
				<input type="hidden" name="search[region_id]" value="1" class="hidden-field" />
			</div>
			<button type="submit" name="submit" id="find-prop" value="Find Properties" class="btn btn-large">Find Properties <span class="glyphicon glyphicon-chevron-right"></span></button>
		</form>
	</div>
</div>


<div class="info-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4 info-img text-center">
				<img src="images/logo-white.png" alt="" />
				<p>Real Estate Consultants</p>
			</div>
			<div class="col-md-7 info-intro">
				<h3>Hassle-free Real Estate in Goa</h3>
				<p><strong>Goa Property Co</strong> in condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum.</p>
			</div>
			
			<div class="col-md-4 block">
				<div class="inner">
					<h4>Buy/Rent</h4>
					<div class="text-center">
						<img src="images/icon-3.png" alt="" class="service-icon" />
					</div>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Nulla facilisi</li>
						<li><span class="glyphicon glyphicon-ok"></span> Curabitur vulputate, ligula lacinia</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">Find Properties</button></div>
				</div>
			</div>
			<div class="col-md-4 block">
				<div class="inner">
					<h4>Sell/Lease</h4>
					<div class="text-center">
						<img src="images/icon-2.png" alt="" class="service-icon" />
					</div>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Nulla facilisi</li>
						<li><span class="glyphicon glyphicon-ok"></span> Curabitur vulputate, ligula lacinia</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">Submit Property</button></div>
				</div>
			</div>
			<div class="col-md-4 block last">
				<div class="inner">
					<h4>Paperwork</h4>
					<div class="text-center">
						<img src="images/icon-4.png" alt="" class="service-icon" />
					</div>
					<div class="review-quote">
						<p class="quote">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
						</p>
						<p class="quoter">Arvind Desouza</p>
					</div>
					<ul>
						<li><span class="glyphicon glyphicon-ok"></span> Nulla facilisi</li>
						<li><span class="glyphicon glyphicon-ok"></span> Curabitur vulputate, ligula lacinia</li>
					</ul>
					<div class="text-center"><button class="btn btn-large">Learn More</button></div>
				</div>
			</div>
		</div>
	</div>
</div>