<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3 class="title">Create A New Property</h3>
			
			<%= erb :_form %>

		</div>

		<div class="col-md-4 col-sm-6 col-xs-12 ">
			<h3>Live Preview</h3>
			<div id="demo-property">
				<ul>
					<li class="property-item">
						<div class="property-item-inner">
							<div class="img-block"><img src="/properties/images/thumbs/gpc-default-thumb.jpg" alt="" id="demo-img"/>
							</div>
							<div class="data-block">
								<h3 class="prop-title">
										<%= "<span id='demo-title' class='prop-string'></span>" %>
										<%= "<span id='demo-type-name' class='prop-string'></span>" %> <br />
										<span class="smaller"><%= "in <span id='demo-location' class='prop-string'></span>" %></span> <br />
								</h3> 
								<span id="demo-area" class='smaller prop-string'> </span><span> Sq Mts</span>
								<div class="prop-price">
									<span id="demo-price" class="price sort-price"></span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	

</div>