<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="col-md-4">
				If you have viewed this property before then it is either sold or not available anymore.
			</h3>
		</div>
	</div>
</div>