<div class="grid-wrap">
	<div class="results-title">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 inner">
				<span class="search-label">Showing ALL • Search for</span> <%= erb :_search_form %>
			</div>
		</div>
	</div>
	
	<div class="container content">
		<%= erb :_properties_grid %>
	</div>
</div>