<div class="cover anystretch info-intro" data-stretch="images/goaprop2.jpg">
	<div class="content-block">
		<div class="inner">
			<h3>Sell OR Lease your property</h3>
			<p>Kindly give us a "brief description" of the type of property you would like us to represent, and we will get in touch with you.</p>
		</div>
	</div>
</div>

<div id="selllease" class="container" role="article">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">	
					<h3>How it Works</h3>
					<p class="lead">Over the years, Goa Property Co has created a bond of trust and good service with its client base. When we represent your property, we make sure to tactfully present it to only those keenly interested. We work transparently with both parties to make ends meet. We make sure to do our research and all the ground work to smoothen the transition of the process and so for our expertise in the field, we do charge a small convenience fee.</p>	
				</div>
				<div class="col-md-6">
					<form method="post" action="/send-inquiry/leasesell">
						<div class="form-group btn-group" data-toggle="buttons">
							<label class="btn btn-default active">
								<input type="radio" name="leasesell[state]" id="lease" value="Lease" checked="checked" />Lease
							</label>
							<label class="btn btn-default">
								<input type="radio" name="leasesell[state]" id="sell" value="Sale" />Sell
							</label>
						</div>

						<div class="form-group">
							<label for="type" class="hidden">Property type</label>
							<input type="text" name="leasesell[type]" placeholder="Property type" value="" class="form-control" />
						</div>

						<div class="form-group">
							<label for="name" class="hidden">Your name</label>
							<input type="text" name="leasesell[name]" placeholder="Your name" value="" class="form-control" />
						</div>
						
						<div class="form-group">
							<label for="phone" class="hidden">Your phone</label>
							<input type="text" name="leasesell[phone]" placeholder="Your phone" value="" class="form-control" />
						</div>

						<div class="form-group">
							<label for="email" class="hidden">Your email</label>
							<input type="text" name="leasesell[email]" placeholder="Your email" value="" class="form-control" />
						</div>
						
						<div class="form-group">
							<label for="description" class="hidden">Description</label>
							<textarea name="leasesell[description]"  placeholder="Describe your property" class="form-control" ></textarea>
						</div>
						
						<div class="form-group text-center">
							<input type="submit" name="submit" value="Submit Property" class="btn btn-large btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
</div>