$serif: "FreightText", Garamond, Georgia, serif;
$sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$green: #53c96a;

$darkBlue: #323a45;
$dark: #212830;
$light: #edf1f4;
$blue: #35b6eb;
$vib: #f66f61;
$label: #ccc;
$offWhite: #fbfbf3;

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: $sans;
	color: $dark;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

h2 {
	text-transform: uppercase;
}

.btn-primary {
	background: none;
	border: 1px solid $vib;
	color: $vib;
	text-transform: uppercase;
	font-weight: bold;
}

.badge {
	font-family: Helvetica, Arial, sans-serif;
	background: white;
	padding: 3px 7px;
	border-radius: 50px;
	/*border: 1px solid darken($light, 20%);*/
	color: $dark;
}

.label {
	color: $darkBlue;
	text-transform: uppercase;
}

.section-title {
	font-weight: 100;
	font-size: 32px;
}

.small-title {
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.main {
	background: #fff;
}


.header {
	background: white;
	width: 100%;
	padding: 0px 0 15px;
	.home & {
		background: $offWhite;
	}
}

.navbar {
	background: transparent;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 0;
	border: none;
	.navbar-brand {
		font-weight: bold;
		text-transform: uppercase;
		text-indent: -9999px;
		background: url('../images/logo-white.png') no-repeat left top;
		width: 214px;
		height: 71px;
		margin-top: 20px;
		.home & {
			background-image: url('../images/logo.jpg');
		}
	}
	.main-nav {
		background: lighten(white, 2%);
		border: 1px solid darken($light, 5%);
		margin-top: 35px;
		padding: 0px 15px;
		li {
			text-transform: uppercase;
			font-weight: bold;
			color: $blue;
			a {
				color: inherit;
			}
		}
	}
}

#contact-details {
	position: absolute;
	right: 0px;
	top: 0;
	padding: 10px 0 5px 15px;
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	li {
		float: left;
		margin-right: 15px;
		.glyphicon {
			font-size: 12px;
			color: $vib;
		}
	}
}

.cover {
	width: 100%;
	height: 200px;
	background: url(../images/bg-house.jpg) no-repeat bottom left;
	background-color: $offWhite;

}

#tree {
	background: url('../images/tree.jpg') no-repeat left bottom;
	width: 239px;
	height: 479px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 0;
}



.content {
	margin-top: 50px;
}

.grid-wrap {
	background: $offWhite;
	padding-top: 1px;
	padding-bottom: 25px;
}

#property-grid {
	overflow: auto;
	width: 100%;
	img {
		width: 100%;
	}
	.property-item {
		margin-bottom: 35px;
	}
	h3 {
		font-size: 18px;
		margin-top: 0;
		font-weight: bold;
		margin-bottom: 0;
		line-height: 120%;
		a {
			color: inherit;
		}
	}
	.prop-type, .prop-location  {
		display: inline-block;
		border-bottom: 1px solid #333;
	}
	.prop-price {
		display: block;
		position: absolute;
		bottom: 0;
		right: 30px;
		background: $green;
		padding: 3px 10px 2px;
		font-size: 18px;
		color: white;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		font-weight: bold;
		text-shadow: 0px 1px darken($green, 30%);
		border: 1px solid saturate(darken($green, 10%), 40%);
		border-bottom: none;
	}
	ul {
		margin-top: 0px;
		li {
			border-bottom: 1px solid #ddd;
			clear: both;
			padding-bottom: 8px;
			margin-top: 8px;
			font-size: 14px;
			&:last-child {
				border-bottom: 0;
			}
			.block {
				float: left;
			}
			.label {
				text-transform: uppercase;
				color: #333;
				padding-left: 0;
				padding-right: 10px;

			}
			.prop-area-built {
				font-family: $serif;
				font-style: italic;
			}
		}
	}
	.img-block {
		margin-bottom: 0px;
		position: relative;
		img {
			height: 200px;
			border-radius: 3px;
			border: 1px solid #333;
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.data-block {
		background: #fefefe;

		border-top: 0;
		padding: 10px 15px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		-webkit-box-shadow: 0 1px 1px #a7adbb;
		-moz-box-shadow: 0 1px 1px #a7adbb;
		box-shadow: 0px 1px 1px #a7adbb;
	}
	
}

#filters-wrap {
	background: #fafafa;
	border-radius: 10px;
	border: 1px solid #eee;
	height: 500px;
	h3 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 5px;
		color: $label;
	}
}

.search-result-title {
	font-size: 18px;
	font-weight: 100;
	display: block;
	margin-bottom: 25px;
	font-family: $serif;
	font-style: italic;
	span {
		font-family: $sans !important;
		font-style: normal;
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 5px;
	}
}

.property-main {
	padding-top: 110px;
	.prop-specs {
		li {
			margin-bottom: 5px;
			border-bottom: 1px solid #ddd;
			padding-bottom: 5px;
		}
	}
	.gallery-block {
		width: 100%;
		overflow: auto;
		li {
			height: 200px;
			overflow: hidden;
		}
	}
}

.property-intro {
	background: linear-gradient(to bottom, #fafafa 0%, #e7e5e5 100%);
	padding-top: 130px;
	border-bottom: 1px solid #ddd;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	img {
		width: 100%;
	}
	.large {
		width: 74.5%;
		margin-right: 5px;
		height: 490px;
		border-bottom: 0 !important;
	}
	.small {
		width: 25%;
		height: 160px;
		overflow: hidden;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
	.img-block {
		float: left;	
	}
}

#property-content {
	margin-top: 540px;
	background: white;
	position: relative;
}

.anystretch {
	z-index: 0 !important;
}

.property-data {
	z-index: 5;
	position: absolute;
	top: -50px;
	border-radius: 5px;
	height: 100px;
	width: 990px;
	margin-left: 90px;
	border: 1px solid #ddd;
	padding: 10px 1.5%;
	box-shadow: 0 -3px 4px transparentize(black, 0.8);
	background-image: -webkit-linear-gradient(top, #ffffff 66.4%, #f0eee6 100%);
	background-image: -moz-linear-gradient(top, #ffffff 66.4%, #f0eee6 100%);
	background-image: -ms-linear-gradient(top, #ffffff 66.4%, #f0eee6 100%);
	background-image: linear-gradient(to bottom, #ffffff 66.4%, #f0eee6 100%);
	text-shadow: 0px 1px #fff;
	.scrolled & {
		-webkit-transition-duration: 800ms;
		box-shadow: none;
		background-image: none;
		width: 1170px;
		border: none;
		margin-left: -15px;
		padding-left: 0;
		padding-right: 0;
		.prop-price-wrap {
			display: none;
		}
	}
	.prop-title {
		font-weight: 600;
		font-size: 28px;
		margin-bottom: 0;
		margin-top: 12px;
		a {
			color: inherit;
	
		}
	}
	.prop-price {
		font-size: 24px;
		font-family: $serif;
		display: block;
		line-height: 100%;
	}
	.prop-price-label {
		text-transform: uppercase;
		display: inline-block;
		padding-bottom: 0;
		margin-top: 15px;
	}
	.prop-area {
		font-size: 16px;
		span {
			font-family: $serif;
			font-style: italic;
		}
	}
}

#search-bar {
	position: absolute;
	font-weight: 100;
	bottom: 100px;
	/*background: transparentize(white, 0.1);*/
	padding: 50px;
	color: black;
	font-style: italic;
	font-size: 36px;
	font-family: $serif;
	text-align: left;
	left: 35%;
	/*border: 1px solid transparentize($vib, 0.2);*/
	text-shadow: 0px 1px #fff;
	input {
		color: $vib;
		font-family: $sans;
		margin: 0 10px;
		
	}
	.select-label {
		text-decoration: none;
		font-family: $sans;
		font-weight: bold;
		font-style: normal;
		color: $vib;
		text-transform: uppercase;
		display: inline-block;
		margin: 0 10px 0 20px;
		&:after {
		   display: inline-block;
		   	content: " ";
		       width: 0;
		       height: 0;
		       margin-left: 5px;
		       vertical-align: middle;
		       border-top: 4px solid;
		       border-right: 4px solid transparent;
		       border-left: 4px solid transparent
		}
	}
	
	#select-category {
		margin-left: 100px;
	}
	#select-region {
		margin-left: 91px;
	}
	#find-prop {
		background: white;
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
		margin-left: 150px;
		margin-top: 20px;
		font-size: 18px;
		font-family: $sans;
		color: $vib;
		padding: 10px 15px 7px;
		border: 1px solid $vib;
		.glyphicon {
			font-size: 12px;
			-webkit-transform: translateY(-1px);
		}
	}
	
}

.popover-content {
	padding: 10px 15px 15px;
	button {
		font-weight: bold;
		font-family: "Tisa OT";
		font-style: italic;
		background: none;
		border: none;
		display: block;
		margin: 3px 2px 0;

		font-size: 18px;
		color: desaturate(lighten($dark, 10%), 10%);
	}
	.select-btn-category {
		display: block;
		width: 100%;
		text-align: left;
	}
	.State {
		display: inline-block;
	}	
}


.results-title {
	width: 100%;
	overflow: auto;
	padding: 0 0 5px;
	border-top: 1px solid darken($light, 20%);
	.inner {
		background: white;
		padding: 10px 25px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		-moz-box-shadow: 0px 2px 2px darken($light, 20%);
		box-shadow: 0px 2px 2px darken($light, 20%);
	}
	h3 {
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 0;
		font-family: $serif;
		font-style: italic;
		float: left;
		strong {
			font-family: $sans;
			font-style: normal;
				text-transform: uppercase;
				margin: 0 8px;
				display: inline-block;
		}
	}
	.select-label-wrap {
		float: left;
		font-family: $serif;
		font-style: italic;
		font-size: 18px;
		margin-top: 5px;
		.select-label {
			font-family: $sans;
			font-style: normal;
			margin: 0 8px;
			font-weight: bold;
			text-transform: uppercase;
			color: $vib;
			text-decoration: none;
			&:hover {
				color: $vib;
			}
			&:after {
			   display: inline-block;
			   	content: " ";
			       width: 0;
			       height: 0;
			       margin-left: 3px;
			       vertical-align: middle;
			       border-top: 4px solid;
			       border-right: 4px solid transparent;
			       border-left: 4px solid transparent
			}
		}
		
	}
	.btn {
		margin-left: 15px;
		color: $vib;
		border: 1px solid $vib;
	}
	
}

.filters {
	margin-top: -20px;
	.list-group-item {
		.glyphicon {
			float: right;
		}
		a {
			color: inherit;
		}
	}
	.active {
		background: $light;
		.glyphicon {
			display: block;
		}
	}
	.glyphicon {
		display: none;
	}
}

#footer {
	background: $vib;
	color: white;
	padding-bottom: 25px;
	padding-top: 25px;
	font-family: $serif;
	h3 {
		font-family: "Tisa OT";
		font-weight: bold;
		font-style: italic;
		font-size: 30px;
	}
	p {
		font-size: 18px;
	}
}

#footer-form {
	margin-top: 20px;
	font-family: $sans;
	.form-control {
		border: 1px solid transparentize(white, 0.5);
	}
	.btn {
		background: transparent;
		color: white;
		border: 1px solid white;
	}
}

.info-block {
	/*background: white;*/
	border-top: 1px solid darken($light, 10%);
	padding: 50px 0;
	.info-img {
		img {
			margin-top: 40px;
		}
		p {
			text-transform: uppercase;
		}
	}
	.info-intro {
		margin-bottom: 35px;
		p {
			font-size: 20px;
			font-weight: 100;
			strong {
				text-transform: uppercase;
				/*color: $vib;*/
			}
		}
		h3 {
			font-size: 42px;
			font-family: $serif;
			font-style: italic;
			color: $vib;
			margin-top: 20px;
			
		}
	}
	.block {
		/*border-right: 1px solid darken($light, 10%);*/
	}
	.inner {
		/*border: 1px solid darken($light, 10%);*/
		
		
		padding: 15px 25px;
		border-radius: 5px;
	}
	.block.last {
		border-right: none;
	}
	h4 {
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 24px;
		font-family: "Tisa OT";
		margin-top: 20px;
		margin-bottom: 20px;
		font-style: italic;
		color: #414125;
	}
	.review-quote {
		font-style: italic;
		font-family: $serif;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 15px;
		/*background: $light;*/
		/*border: 1px solid $light;*/
		padding: 10px 15px 0;
		border-radius: 5px;
		.quote {
			margin-bottom: 0;
			&:after {
				content: "\201D";
			}
			&:before {
				content: "\201C";
			}
		}
		.quoter {
			text-align: right;
			font-family: $sans;
			text-transform: uppercase;
			font-size: 14px;
			font-style: normal;
			font-weight: bold;
			&:before {
				content: "\2014 ";
			}
		}
		
	}
	.btn {
		background: $vib;
		color: white;
		border: none;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		margin: 10px auto;
	}
	ul {
		li {
			font-size: 16px;
/*			border-bottom: 1px solid darken($light, 10%);*/
			padding-bottom: 5px;
			&:last-child {
				border-bottom: none;
			}
			.glyphicon {
				color: $vib;
				font-size: 14px;
				margin-right: 7px;
			}
		}
	}
	.service-icon {
		margin: 15px auto 30px;
		max-width: 275px;
	}
}

.info-block .inner {
	border-top: 1px solid $light;
	-moz-box-shadow: 0px 2px 2px darken($light, 20%);
	box-shadow: 0px 2px 2px darken($light, 20%);
	background: white;
}

.info-block {
	background-image: -webkit-linear-gradient(top, #fdfdfb 0%, #fbfaf2 100%);
	background-image: -moz-linear-gradient(top, #fdfdfb 0%, #fbfaf2 100%);
	background-image: -ms-linear-gradient(top, #fdfdfb 0%, #fbfaf2 100%);
	background-image: linear-gradient(to bottom, #fdfdfb 0%, #fbfaf2 100%);
}